.login-btn{
    display: flex;
    justify-content: flex-end;
    margin:20px;
}

.logo{
    display: flex;
    justify-content: center;
}

.nav-menu-area{
    display: flex;
    justify-content: center;
}
.menuList{
    display: flex;
}
.menuList li{
    padding:9px;
}

.search{
    position: absolute;
    right:20px;
    margin-top:9px;
    border-bottom: 1px solid black;
}

.search input{
    border:none;
    padding:0 0 5px 20px;
}

.search input:focus{
    outline: none;
}
.card{
    border:none !important;
    margin-bottom: 10px;
}

.productImg{
    width: 100%;
}
.proBox:hover{
    transition: all 0.2s;
    opacity: 0.6;

}